<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="xunit.appDomain" value="ifAvailable" />
    <add key="xunit.methodDisplay" value="method" />
    <add key="xunit.shadowCopy" value="false"/>
  </appSettings>
  <userSettings>
    <Microsoft.VisualStudio.IntegrationTest.Utilities.Settings>
      <setting name="VsProductVersion" serializeAs="String">
        <value>15.0</value>
      </setting>
      <setting name="VsRootSuffix" serializeAs="String">
        <value>ProjectSystem</value>
      </setting>
    </Microsoft.VisualStudio.IntegrationTest.Utilities.Settings>
  </userSettings>
  <system.diagnostics>
    <trace>
      <listeners>
        <remove name="Default" />
        <add name="ThrowingTraceListener" type="Microsoft.VisualStudio.Diagnostics.ThrowingTraceListener, Microsoft.VisualStudio.ProjectSystem.Managed.TestServices" />
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="xunit.core" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.3444" newVersion="2.2.0.3545" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>