<!-- Licensed to the .NET Foundation under one or more agreements. The .NET Foundation licenses this file to you under the MIT license. See the LICENSE file in the project root for more information. -->

<!-- Reference documentation: https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file -->
<!-- TODO: Migrate to Central Feed Services (CFS) when public feeds with upstream sources are available. -->
<!-- For details: https://eng.ms/docs/cloud-ai-platform/developer-services/one-engineering-system-1es/1es-docs/secure-supply-chain/project-artemis/central-feed-services-cfs -->
<configuration>
  <packageSources>
    <clear />
    <!-- CPS components including: Microsoft.VisualStudio.ProjectSystem -->
    <add key="vs-impl" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vs-impl/nuget/v3/index.json" />
    <!-- Microsoft.VisualStudio components -->
    <add key="vssdk" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vssdk/nuget/v3/index.json" />
    <!--
      Various packages including:
        Microsoft.DiaSymReader.Pdb2Pdb
        Microsoft.CodeAnalysis
        Microsoft.CodeAnalysis.Features
        NuGet.VisualStudio
    -->
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
    <!--
      Various packages including:
        xunit
        xunit.assert
        xunit.extensibility.core
        xunit.extensibility.execution
        XliffTasks
        Microsoft.VisualStudioEng.MicroBuild.Plugins.SwixBuild
    -->
    <add key="dotnet-eng" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" />
    <!--
      Public components including:
        Nerdbank.GitVersioning
        Codecov
    -->
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <!-- Clear the machine-defined disabled package sources, which may include one of our package sources defined above. -->
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>