<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c)  Microsoft.  All Rights Reserved.  Licensed under the Apache License, Version 2.0.  See License.txt in the project root for license information. -->

<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <config>
    <add key="dependencyVersion" value="HighestMinor" />
  </config>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="myget.org roslyn" value="https://dotnet.myget.org/F/roslyn/api/v3/index.json" />
    <add key="myget.org roslyn-tools" value="https://dotnet.myget.org/F/roslyn-tools/api/v3/index.json" />
    <!-- xliff localization task " -->
    <add key="myget.org dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="devdiv" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />

  </packageSources>
  <packageRestore>
    <!-- Automated package restore in VS does not work at this time with
         this project and it causes build failures. Disable it. -->
    <add key="automatic" value="false" />
  </packageRestore>
</configuration>