<!-- Licensed to the .NET Foundation under one or more agreements. The .NET Foundation licenses this file to you under the MIT license. See the LICENSE file in the project root for more information. -->

<!-- Reference documentation: https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file -->
<!-- TODO: Migrate to Central Feed Services (CFS) when public feeds with upstream sources are available. -->
<!-- For details: https://eng.ms/docs/cloud-ai-platform/developer-services/one-engineering-system-1es/1es-docs/secure-supply-chain/project-artemis/central-feed-services-cfs -->
<configuration>
  <packageSources>
    <clear />
    <add key="VS-Platform" value="https://pkgs.dev.azure.com/devdiv/DevDiv/_packaging/VS-Platform/nuget/v3/index.json" />
  </packageSources>
  <!-- Clear the machine-defined disabled package sources, which may include one of our package sources defined above. -->
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>