# Based on: https://dev.azure.com/devdiv/DevDiv/_git/vs-green-server?path=/azure-pipelines/prepare-insertion-stages.yml&version=GBmain&line=49&lineEnd=54&lineStartColumn=1&lineEndColumn=58
registry=https://pkgs.dev.azure.com/devdiv/DevDiv/_packaging/vs-green/npm/registry/
always-auth=true